:root {
  font-size: 16px;
  --border-rounded: 4px;
}

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

/*===== Media Handler =====*/
.media-handler {
  background-color: #fafafa;
  overflow: hidden;
  position: relative;
  padding-top: 100%;
}
.media-handler > img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.media-handler > iframe {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
/** Media Handler - Aspect Ratios **/
.media-handler--16-9 {
  padding-top: 56.25% 
}
.media-handler--4-3 {
  padding-top: 75% 
}
.media-handler--3-2 {
  padding-top: 66.66% 
}
.media-handler--8-5 {
  padding-top: 62.5% 
}
.media-handler--super-wide {
  padding-top: 400px;
}
/** Media Handler - Circle **/
.media-handler--circle, .media-handler--circle > img {
  border-radius: 50% 
}
/** Media Handler - Rounded **/
.media-handler--rounded, .media-handler--rounded > img {
  border-radius: var(--border-rounded);
}

/*===== Card =====*/
.ListingCard {
  position: relative;
  transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
}
.ListingCard__header {
  position: relative;
}
.ListingCard__body {
  position: relative;
}
.ListingCard__link {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
.ListingCard__featured-image {
  position: relative;
}
.ListingCard__featured-image::after {
  background-color: rgba(0,0,0,0.5);
  border-radius: var(--border-rounded);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.ListingCard:hover {
  transform: scale(1.1);
}





input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
textarea {
  appearance: none;
  background-color: #ebecf1;
  border: 2px solid #ebecf1;
  /* border-radius: 4px; */
  color: #000000;
  line-height: 1em;
  padding: 12px;
  transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
}
textarea {
  resize: none;
}

input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus,
textarea:focus {
  background-color: #ffffff;
  border-color: #ebecf1;
  outline: 0;
  /* transform: scale(1.015, 1); */
}

input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: transparent;
  transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-moz-placeholder,
textarea::-moz-placeholder {
  color: transparent;
  transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: transparent;
  transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: transparent;
  transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::placeholder,
textarea::placeholder {
  color: transparent;
  transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
}






input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #a6a7ab;
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #a6a7ab;
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #a6a7ab;
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  color: #a6a7ab;
}
input:not([type=color]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus::placeholder,
textarea:focus::placeholder {
  color: #a6a7ab;
}


label {
  color: #606060;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25em;
  margin-bottom: 0;
}

.field {
  margin-bottom: 15px;
  position: relative;
}



#form_sample {
  margin: 0 auto;
  max-width: 600px;
}









.plans__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.plans {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0;
}

.plans .rect {
  position: relative;
  z-index: 3;
}

.plans .rect svg g:nth-child(2) rect {
  fill: #54A6AC;
}

.plans:nth-child(1) {
  padding-bottom: 70px;
  border-bottom: 3px solid rgba(82, 82, 137, 0.4);
  border-radius: 1px;
}

.plans:nth-child(2) .plans__item .rect {
  bottom: unset;
  top: -90px;
}

.plans:nth-child(2) .plans__item .rect svg {
  top: -6px;
}

.plans:nth-child(2) .plans__item .rect:after {
  top: 5px;
  bottom: unset;
}

.plans:nth-child(2):before {
  content: ' ';
  width: 50%;
  height: 3px;
  background: #54A5AC;
  position: absolute;
  top: -3px;
  left: 0;
  border-radius: 1px;
}

.plans .plans__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 30px rgba(41, 35, 92, 0.1);
  box-shadow: 0 4px 30px rgba(41, 35, 92, 0.1);
  position: relative;
  width: 254px;
  height: 173px;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 68px;
}

.plans .plans__item:not(:last-child) {
  margin-right: 61px;
}

.plans .plans__item .rect {
  position: absolute;
  bottom: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.plans .plans__item .rect svg {
  position: relative;
  top: 17px;
  z-index: 4;
}

.plans .plans__item .rect:after {
  content: ' ';
  width: 1px;
  height: 90px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(84, 166, 172, 0.4);
}

.plans .plans__item.purple:before {
  background: #525289;
}

.plans .plans__item.purple .rect:after {
  background: rgba(82, 82, 137, 0.4);
}

.plans .plans__item.purple .rect svg g:nth-child(2) rect {
  fill: #B4B6CD;
}

.plans .plans__item.orange:before {
  background: #E8744C;
}

.plans .plans__item.orange .rect:after {
  background: rgba(232, 116, 76, 0.4);
}

.plans .plans__item.orange .rect svg g:nth-child(2) rect {
  fill: #E6734D;
}

.plans .plans__item:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -21px;
  top: -21px;
  background: #54A7AD;
  z-index: -1;
}

.plans .plans__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #54A6AC;
}

.plans .plans__description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #5E647D;
  opacity: 0.7;
}

.plans--mobile {
  display: none;
}

@media (max-width: 1480px) {
  .plans {
    width: 890px;
  }
  .plans .plans__item {
    width: 170px;
    height: 110px;
  }
  .plans .plans__title {
    font-size: 14px;
  }
  .plans .plans__description {
    line-height: 16px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .plans {
    display: none;
  }
  .plans--mobile {
    display: block;
    width: 380px;
  }
  .plans--mobile .rect {
    display: none;
  }
  .plans--mobile .plans__item {
    width: 191px;
    height: 130px;
  }
  .plans--mobile .plans__item:after {
    content: "";
    display: table;
    clear: both;
  }
  .plans__item:nth-child(even) {
    left: calc(100% - 191px);
  }
}

@media (max-width: 580px) {
  .plans--mobile {
    display: block;
    width: 100%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}










